
.idea/.idea.AdventOfCode2022.dir/.idea/encodings.xml
.idea/.idea.AdventOfCode2022.dir/.idea/indexLayout.xml
.idea/.idea.AdventOfCode2022.dir/.idea/vcs.xml
AdventOfCode2022/.dockerignore
AdventOfCode2022/bin
AdventOfCode2022/obj
